---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import CV from "../components/CV.astro";
---

<Layout title="Joel Höfer">
	<Nav />

	<CV name="cv"/>
	<section id="skills" class="h-screen bg-gray-300">Skills</section>
	<section id="projects" class="h-screen bg-gray-300">projects</section>
	<section id="contact" class="h-screen bg-gray-300">contact</section>
</Layout>
